.App {
  text-align: center;
}

.tableContainer {
  display: grid;
  place-content: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  width: 150px;
  padding: 10px;
}
